<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analisis Sentimen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Analisis Sentimen Review Produk Lazada</h1>
        <form id="sentimentForm">
            <label for="text">Masukkan teks untuk prediksi sentimen:</label>
            <input type="text" id="text" name="text"><br><br>
            <input type="submit" value="Prediksi">
        </form>
        <p style="text-align: center; color: #555;">Contoh teks: "Saya sangat senang dengan produk ini!"</p>
        <div id="result" class="result"></div>
    </div>
    
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>



